/*产品模块*/
$uicss{padding: 30px 0;background:$bodybgcolor$;background:$bgcolor$;padding: $padding$px 0;}
@media(max-width: 768px)
{
	$uicss{
		padding: $padding_p$px 0;
	}
}
@media(max-width: 767px)
{
	$uicss{
		padding: $padding_m$px 0;
	}
}
$uicss .less-page-content {  }
$uicss .card-header a { display: block; position: relative; }
$uicss .card-header a .mask { position: absolute; width: 100%; height: 100%; -webkit-transition: all .66s cubic-bezier(.17, .84, .44, 1); transition: all .66s cubic-bezier(.17, .84, .44, 1); z-index: 2; }
$uicss .card-header a img { -webkit-transition: all .6s cubic-bezier(.17, .84, .44, 1); transition: all .6s cubic-bezier(.17, .84, .44, 1); width: 100%; }
$uicss .card-title { text-align: left; border-bottom: 1px solid $byncolor$; text-shadow: none; -webkit-transition: all .6s cubic-bezier(.215, .61, .355, 1); transition: all .6s cubic-bezier(.215, .61, .355, 1); margin-bottom:0; color: $firstcolor$;color: $titlecolor$;}
$uicss .card-title a { color: $firstcolor$;color: $titlecolor$; text-shadow: none; font-size: 16px; }
$uicss .card-title p { color: $secondcolor$;color: $desccolor$; padding:5px 0; margin: 0; font-size: 13px; }
$uicss .card:hover .card-title { border-bottom: 1px solid $firstcolor$;border-bottom: 1px solid $titlecolor$; }
$uicss .product-list .item { opacity: 0; transform: translate(0, 10%);margin-bottom: 20px; }
$uicss-list .item .fa { color: #fff; width: 22px; height: 22px; font-size: 22px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
$uicss-list .item .fa:hover { text-decoration: none; }
$uicss .card-title .btn{
	margin-top:15px;
	font-size:14px;
	background: transparent;
	border: 1px solid $thirdcolor$;
    border: 1px solid $hovercolor$;
	border-radius: 0;
}
$uicss .card-title a.btn {color:$thirdcolor$;color:$hovercolor$;}
$uicss .card-title .btn:hover{
    background: $thirdcolor$;
	background: $hovercolor$;
    border: 1px solid $thirdcolor$;
	border: 1px solid $hovercolor$;
	color: #fff;
}
$uicss .card-title .price {  color: #c30a18; }
@media (max-width:767px){
    $uicss .card-title{padding:10px !important;}
    $uicss .less-page-content ul{margin:0;}
    $uicss .less-page-content li{padding-left: 5px !important;padding-right: 5px !important;margin-bottom:10px;}
}
@charset "utf-8";
/*分页*/
.met_pager { margin-top: 20px; text-align: center; }
.met_pager * { display: inline-block; }
.met_pager a { padding: 9px 15px; border: 1px solid $linecolor$; border-right: none; background: $pagebgcolor$; text-align: center; color: $pagetxtcolor$; }
.met_pager a:hover { background: $hoverpagebgcolor$;color: $pagetxtcolor$;color: $hoverpagetxtcolor$; text-decoration: none; }
.met_pager a.NextA { border-right: 1px solid $linecolor$; }
.met_pager .PreSpan,
.met_pager .NextSpan { padding: 9px 15px; border: 1px solid $linecolor$; background: $nopagebg$; color: $nopagetxt$; cursor: default; }
.met_pager .firstPage,
.met_pager .lastPage { min-width: 40px; height: 28px; line-height: 28px; }
.met_pager a.Ahover {  background: $thirdcolor$; background: $hovercolor$; color: $hovertxtcolor$; cursor: default; }
.met_pager a.Ahover:hover { background: $thirdcolor$; background: $hovercolor$; color: $hovertxtcolor$; }
.met_pager a { text-decoration: none; }
.met_pager a:active,
.met_pager a:focus,
.met_pager a:hover { text-decoration: none; }
.met_pager .PageText { display: none; margin-left: 10px; color: #aaa; }
.met_pager input { display: none; }
.met_pager .firstPage,
.met_pager .lastPage { height: auto; line-height: inherit; }
.pager li { width: 49%; display: inline-block; }
.pager li a { max-width: 100%; }
$uicss #met-pager-btn{border-color: $thirdcolor$;background-color: $thirdcolor$;border-color: $hovercolor$;background-color: $hovercolor$;}
$uicss .ladda-button i{
	color: $btniconcolor$;
}
$uicss .container .card{
	background-color: $center_color$;
}
